$theme-color: #2c97df;

@font-face {
    font-family: 'SF Mono';
    src: url(/fonts/SF-Mono-Regular.otf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'SF Mono';
    src: url(/fonts/SF-Mono-Bold.otf) format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'SF-Pro-Display';
    src: url(/fonts/SF-Pro-Display-Regular.otf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'SF-Pro-Display';
    src: url(/fonts/SF-Pro-Display-Bold.otf) format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'SF-Pro-Text';
    src: url(/fonts/SF-Pro-Text-Regular.otf) format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'SF-Pro-Text';
    src: url(/fonts/SF-Pro-Text-Bold.otf) format('opentype');
    font-weight: bold;
}

:root {
    --vp-c-accent: $theme-color;

    // external-link-icon
    --external-link-icon: url('/assets/icons/arrow-up-right-from-square.svg');
    --external-link-c-icon: var(--vp-c-text-mute);
}

[data-theme='dark'] {
    --vp-c-accent: $theme-color;

    // external-link-icon
    --external-link-icon: url('/assets/icons/arrow-up-right-from-square.svg');
    --external-link-c-icon: var(--vp-c-text-mute);
}

h2 {
    border-color: $theme-color;
}

.vp-hero-infos {
    text-align: center;
}

.info-box {
    padding: 0.1rem;
    background-color: transparent;
    border-radius: 0.4rem;
    border-left: 2px solid var(--vp-c-accent);
}

.info-box p {
    margin: 0.6rem 0.6rem 0.6rem 1rem;
    padding-bottom: 0.4rem;
}

.info-box p:last-child {
    margin: 0.6rem 0.6rem 0.6rem 1rem;
    padding-bottom: 0rem;
}

.vp-nav-links {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.vp-breadcrumb {
    line-height: 1rem;
    font-size: 1.1rem;
}

.vp-page-title h1 {
    margin-bottom: 0rem !important;
}

.vp-page-title hr {
    border-color: $theme-color;
}

.page-reading-time-info {
    display: none !important;
}

#markdown-content p {
    line-height: 1.6;
    font-size: 1.2rem;
    margin-block-start: 0.1rem;
    margin-block-end: 0.1rem;
}
