@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

html {
    font-size: 14px !important;
}

.content {
    @apply mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8;
}

h1 {
    @apply text-4xl font-semibold text-zinc-950;
    @apply mx-0 my-2;
}

h2 {
    @apply text-3xl font-semibold text-zinc-800;
    @apply first:mt-0 mt-6 mb-0 my-2;
}

h3 {
    @apply text-2xl font-semibold text-zinc-600;
    @apply mt-6 mb-1 my-2;
}

h4 {
    @apply text-xl font-semibold text-zinc-600;
    @apply mt-6 mb-0 my-2;
}

h5 {
    @apply text-lg font-semibold;
    @apply mt-6 mb-0 my-2;
}

h6 {
    @apply text-lg font-semibold;
    @apply mt-2 mb-0 my-2;
}

p {
    @apply text-base font-normal leading-6;
    @apply mx-0 my-0;
}

.list {
    @apply list-disc list-inside ml-4;
}

.nlist {
    @apply list-decimal list-inside ml-4;
}

.prompt-seed {
    @apply flex-grow justify-items-center rounded-md bg-gray-100 px-2 py-1 text-sm font-medium text-gray-600 inset-ring inset-ring-gray-500/10;
}

.prompt-seed-type {
    @apply font-light;
}

.prompt-seed-value {
    @apply font-medium;
}

.prompt-steps {
    @apply flex-grow justify-items-center rounded-md bg-gray-100 px-2 py-1 text-sm font-medium text-gray-600 inset-ring inset-ring-gray-500/10;
}

.prompt-steps-type {
    @apply font-light;
}

.prompt-steps-value {
    @apply font-medium;
}

.prompt-cfg {
    @apply flex-grow justify-items-center rounded-md bg-gray-100 px-2 py-1 text-sm font-medium text-gray-600 inset-ring inset-ring-gray-500/10;
}

.prompt-cfg-type {
    @apply font-light;
}

.prompt-cfg-value {
    @apply font-medium;
}

th.data {
    @apply px-4 py-2 text-left text-base font-semibold text-gray-900;
}

td.keydata {
    @apply px-4 py-2 text-base font-medium whitespace-nowrap text-gray-900;
}

td.data {
    @apply px-4 py-2 text-base   text-gray-500;
}

dl {
    @apply text-base ml-2;
}

dt {
    @apply text-base font-semibold text-gray-950 italic;
    @apply before:content-['▪️'] after:content-[':'];
}

dd {
    @apply text-base font-normal text-gray-900 ml-5;
}

.quote {
    @apply italic;
    @apply before:content-['"'] after:content-['"'];
}

em {
    @apply italic;
    @apply before:content-['"'] after:content-['"'];
}

/*
a {
    @apply text-base font-normal;
    color: oklch(42.4% .199 265.638);

    text-decoration-line: none;
}

a:hover {
    @apply text-base font-normal;
    color: oklch(42.4% .199 265.638);
    text-decoration-line: underline;
}
*/
/*
em {
    @apply text-base font-light italic;
    color: oklch(37.2% .044 257.287);
}

strong {
    @apply text-base font-bold;
}

li {
   font-size: 1rem;
}

li em {
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
}

li strong {
   font-size: 1rem;
   font-weight: 600;
}

pre {
    border-radius: 0.4rem;
    background-color: oklch(96.8% .007 247.896);
    margin: 0.6rem;
    padding: 0.6rem;
}

code {
    color: oklch(37.2% .044 257.287);
    font-size: 0.8rem !important;
    font-family: 'Monaco', 'Courier New', monospace;
    font-weight: 400 !important;

}
    */

.other001 {
    @apply text-zinc-50;
    @apply text-blue-50;
    @apply text-blue-500;
}

fieldset[disabled] .multiselect {
    pointer-events: none;
}

.multiselect__spinner {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 40px;
    height: 38px;
    background: #fff;
    display: block;
}

.multiselect__spinner::before,
.multiselect__spinner::after {
    @apply border-red-500;

    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 0 0 1px transparent;

    /*border-color: #41b883 transparent transparent;*/
}

.multiselect__spinner::before {
    animation: spinning 2.4s cubic-bezier(0.41, 0.26, 0.2, 0.62);
    animation-iteration-count: infinite;
}

.multiselect__spinner::after {
    animation: spinning 2.4s cubic-bezier(0.51, 0.09, 0.21, 0.8);
    animation-iteration-count: infinite;
}

.multiselect__loading-enter-active,
.multiselect__loading-leave-active {
    transition: opacity 0.4s ease-in-out;
    opacity: 1;
}

.multiselect__loading-enter,
.multiselect__loading-leave-active {
    opacity: 0;
}

.multiselect,
.multiselect__input,
.multiselect__single {
    font-family: inherit;
    font-size: 16px;
    touch-action: manipulation;
}

.multiselect {
    box-sizing: content-box;
    display: block;
    position: relative;
    width: 100%;
    min-height: 40px;
    text-align: left;
    color: #35495e;
}

.multiselect * {
    box-sizing: border-box;
}

.multiselect:focus {
    outline: none;
}

.multiselect--disabled {
    background: #ededed;
    pointer-events: none;
    opacity: 0.6;
}

.multiselect--active {
    z-index: 50;
}

.multiselect--active:not(.multiselect--above) .multiselect__current,
.multiselect--active:not(.multiselect--above) .multiselect__input,
.multiselect--active:not(.multiselect--above) .multiselect__tags {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.multiselect--active .multiselect__select {
    transform: rotateZ(180deg);
}

.multiselect--above.multiselect--active .multiselect__current,
.multiselect--above.multiselect--active .multiselect__input,
.multiselect--above.multiselect--active .multiselect__tags {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.multiselect__input,
.multiselect__single {
    position: relative;
    display: inline-block;
    min-height: 20px;
    line-height: 20px;
    border: none;
    border-radius: 5px;
    background: #fff;
    padding: 0 0 0 5px;
    width: calc(100%);
    transition: border 0.1s ease;
    box-sizing: border-box;
    margin-bottom: 8px;
    vertical-align: top;
}

.multiselect__input::placeholder {
    color: #35495e;
}

.multiselect__tag ~ .multiselect__input,
.multiselect__tag ~ .multiselect__single {
    width: auto;
}

.multiselect__input:hover,
.multiselect__single:hover {
    border-color: #cfcfcf;
}

.multiselect__input:focus,
.multiselect__single:focus {
    border-color: #a8a8a8;
    outline: none;
}

.multiselect__single {
    padding-left: 5px;
    margin-bottom: 8px;
}

.multiselect__tags-wrap {
    display: inline;
}

.multiselect__tags {
    min-height: 40px;
    display: block;
    padding: 8px 40px 0 8px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    background: #fff;
    font-size: 14px;
}

.multiselect__tag {
    @apply text-zinc-900 bg-zinc-100 border-zinc-400 border-1 rounded;

    position: relative;
    display: inline-block;
    padding: 4px 26px 4px 10px;
    margin-right: 10px;
    line-height: 1;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
    
    /* border-radius: 5px; */
    /* color: #fff; */
    /* background: #41b883; */
}

.multiselect__tag-icon {
    cursor: pointer;
    margin-left: 7px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-weight: 700;
    font-style: initial;
    width: 22px;
    text-align: center;
    line-height: 22px;
    transition: all 0.2s ease;
    border-radius: 5px;
}

.multiselect__tag-icon::after {
    @apply text-zinc-600;

    content: '×';
    font-size: 14px;

    /* color: #266d4d; */
}

/* // Remove these lines to avoid green closing button
  //.multiselect__tag-icon:focus,
  //.multiselect__tag-icon:hover {
  //  background: #369a6e;
  //} */

.multiselect__tag-icon:focus::after,
.multiselect__tag-icon:hover::after {
    color: white;
}

.multiselect__current {
    line-height: 16px;
    min-height: 40px;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    padding: 8px 12px 0;
    padding-right: 30px;
    white-space: nowrap;
    margin: 0;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    cursor: pointer;
}

.multiselect__select {
    line-height: 16px;
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 40px;
    height: 38px;
    right: 1px;
    top: 1px;
    padding: 4px 8px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.multiselect__select::before {
    position: relative;
    right: 0;
    top: 65%;
    color: #999;
    margin-top: 4px;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #999 transparent transparent transparent;
    content: '';
}

.multiselect__placeholder {
    color: #adadad;
    display: inline-block;
    margin-bottom: 10px;
    padding-top: 2px;
}

.multiselect--active .multiselect__placeholder {
    display: none;
}

.multiselect__content-wrapper {
    position: absolute;
    display: block;
    background: #fff;
    width: 100%;
    max-height: 240px;
    overflow: auto;
    border: 1px solid #e8e8e8;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 50;
    -webkit-overflow-scrolling: touch;
}

.multiselect__content {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    min-width: 100%;
    vertical-align: top;
}

.multiselect--above .multiselect__content-wrapper {
    bottom: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
    border-top: 1px solid #e8e8e8;
}

.multiselect__content::-webkit-scrollbar {
    display: none;
}

.multiselect__element {
    display: block;
}

.multiselect__option {
    display: block;
    padding: 12px;
    min-height: 40px;
    line-height: 16px;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
}

.multiselect__option::after {
    top: 0;
    right: 0;
    position: absolute;
    line-height: 40px;
    padding-right: 12px;
    padding-left: 20px;
    font-size: 13px;
}

.multiselect__option--highlight {
    background: #41b883;
    outline: none;
    color: white;
}

.multiselect__option--highlight::after {
    content: attr(data-select);
    background: #41b883;
    color: white;
}

.multiselect__option--selected {
    background: #f3f3f3;
    color: #35495e;
    font-weight: bold;
}

.multiselect__option--selected::after {
    content: attr(data-selected);
    color: silver;
    background: inherit;
}

.multiselect__option--selected.multiselect__option--highlight {
    background: #ff6a6a;
    color: #fff;
}

.multiselect__option--selected.multiselect__option--highlight::after {
    background: #ff6a6a;
    content: attr(data-deselect);
    color: #fff;
}

.multiselect--disabled .multiselect__current,
.multiselect--disabled .multiselect__select {
    background: #ededed;
    color: #a6a6a6;
}

.multiselect__option--disabled {
    background: #ededed !important;
    color: #a6a6a6 !important;
    cursor: text;
    pointer-events: none;
}

.multiselect__option--group {
    background: #ededed;
    color: #35495e;
}

.multiselect__option--group.multiselect__option--highlight {
    background: #35495e;
    color: #fff;
}

.multiselect__option--group.multiselect__option--highlight::after {
    background: #35495e;
}

.multiselect__option--disabled.multiselect__option--highlight {
    background: #dedede;
}

.multiselect__option--group-selected.multiselect__option--highlight {
    background: #ff6a6a;
    color: #fff;
}

.multiselect__option--group-selected.multiselect__option--highlight::after {
    background: #ff6a6a;
    content: attr(data-deselect);
    color: #fff;
}

.multiselect-enter-active,
.multiselect-leave-active {
    transition: all 0.15s ease;
}

.multiselect-enter,
.multiselect-leave-active {
    opacity: 0;
}

.multiselect__strong {
    margin-bottom: 8px;
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
}

*[dir='rtl'] .multiselect {
    text-align: right;
}

*[dir='rtl'] .multiselect__select {
    right: auto;
    left: 1px;
}

*[dir='rtl'] .multiselect__tags {
    padding: 8px 8px 0 40px;
}

*[dir='rtl'] .multiselect__content {
    text-align: right;
}

*[dir='rtl'] .multiselect__option::after {
    right: auto;
    left: 0;
}

*[dir='rtl'] .multiselect__clear {
    right: auto;
    left: 12px;
}

*[dir='rtl'] .multiselect__spinner {
    right: auto;
    left: 1px;
}

@keyframes spinning {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(2turn);
    }
}
